{% extends "layouts/main.html" %}
{% load static %}

{% block content %}

    <div class="flex justify-center py-12 px-6 mx-auto max-w-7xl md:px-8">
        <div class="max-w-3xl mx-auto text-center">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20 md:w-24 md:h-24">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                </svg>
            </div>
              
            <div class="mt-2 py-2 text-2xl leading-tight lg:leading-tight text-white lg:mt-2 lg:text-4xl font-light">
                <div class="relative group inline-flex sm:inline my-1 hover:px-2 mx-4 md:mx-0">
                    <span class="bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] blur-md md:blur-lg filter opacity-30 md:opacity-40 w-full h-full absolute inset-0 group-hover:opacity-70 duration-800 transition-all"></span>
                    <span class="relative font-medium text-5xl md:text-6xl">you're in!</span>
                </div>
                <p class="relative text-base md:text-lg lg:leading-loose font-light mt-4">you're successfully subscribed to our mailing list. thank you!</p>
            </div>
            
            <div class="mt-5">
                <a href="/" title="" class="relative text-center px-4 py-3 text-base font-medium text-white transition-all duration-200 bg-twilight-500 hover:shadow-lg hover:shadow-cerulean-500/40 rounded-md focus:bg-twilight-600" role="button">go back</a>
            </div>
        </div>
    </div>
{% endblock %}
