{% extends "layouts/main.html" %}
{% load static %}

{% block title %} find your next live music experience {% endblock %}

{% block content %}

    {% include 'layouts/hero.html' %}
    
    <div class="max-w-2xl md:max-w-3xl lg:max-w-screen-2xl mx-auto px-5 md:px-8 lg:px-10">
        <hr class="border-jet my-10 md:my-14">
        
        <div class="mt-10 text-4xl text-center">upcoming gigs</div>

        <div class="max-w-2xl space-x-3 lg:max-w-5xl mx-auto pt-8 flex justify-center lg:space-x-6 text-center flex-wrap gap-y-3">
            <a href="#" title="" class="relative text-center px-3 py-1 font-medium text-citrine-600 border-2 border-citrine bg-transparent transition-all duration-200 hover:text-white hover:bg-citrine rounded-md focus:bg-citrine focus:text-white" role="button">this week</a>
            <!-- <a href="#" title="" class="relative text-center px-3 py-1  font-medium text-twilight-600 border-2 border-twilight-600 bg-transparent transition-all duration-200 hover:text-white hover:bg-twilight-600 rounded-md focus:bg-twilight-600" role="button">this month</a> -->
            <a href="#" title="" class="relative text-center px-3 py-1 font-medium text-white border-2 border-twilight-600 bg-twilight-600 transition-all duration-200 hover:text-white hover:bg-twilight-600 rounded-md focus:bg-twilight-600 focus:text-white" role="button">this month</a>
            <a href="#" title="" class="relative text-center px-3 py-1  font-medium text-eminence border-2 border-eminence bg-transparent transition-all duration-200 hover:text-white hover:bg-eminence rounded-md focus:bg-eminence focus:text-white" role="button">next month</a>
            <a href="#" title="" class="relative text-center px-3 py-1 font-medium text-cerulean border-2 border-cerulean bg-transparent transition-all duration-200 hover:text-white hover:bg-cerulean rounded-md focus:bg-cerulean focus:text-white" role="button">next year</a>
            <a href="#" title="" class="relative flex items-center text-center px-3 py-1 font-medium text-paprika border-2 border-paprika-400 bg-transparent transition-all duration-200 hover:text-white hover:bg-paprika-400 rounded-md focus:bg-paprika-400 focus:text-white" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-2 fill-paprika">
                    <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                </svg>
                <span>at location</span>
            </a>
        </div>

        {% comment %} start gigs {% endcomment %}
        <div class="mt-14 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-12">
            <div class="gig">
              <div class="gig-deets">
                <div class="date">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-citrine">
                        <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                    </svg>
                    <p> april 20, 6PM </p>
                </div>

                <div class="location">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-paprika">
                        <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                      </svg>
                      <p>jess & pat's</p>
                </div>
            </div>
                <div class="group relative">
                    <div class="aspect-[3/4] w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <img src="{% static 'posters/halikan-mo-na-ako.jpg' %}" class="h-full w-full object-cover object-center lg:h-full lg:w-full group-hover:scale-125 duration-500 transition-all">
                    </div>
                    <div class="my-4 flex flex-col justify-between">
                        <div>
                            <h3 class="event-title">
                                <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Halikan Mo Na Ako Music Video Launch
                                </a>
                            </h3>
                            <p class="mt-1 text-sm text-gray-500">earl generao &bull; autotelic &bull; the ridleys &bull; bita and the botflies &bull; frizzle anne</p>
                        </div>
                </div>
              </div>
            </div>

            <div class="gig">
                <div class="gig-deets">
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-citrine">
                            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                        </svg>
                        <p> april 26, 7PM</p>
                    </div>

                    <div class="location">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-paprika">
                            <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                          </svg>
                          <p>saguijo</p>
                    </div>
                </div>
                <div class="group relative">
                    <div class="aspect-[3/4] w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <img src="{% static 'posters/whats-meron.jpg' %}" class="h-full w-full object-cover object-center lg:h-full lg:w-full group-hover:scale-125 duration-500 transition-all">
                    </div>
                    <div class="my-4 flex flex-col justify-between">
                
                        <div>
                            <h3 class="event-title">
                                <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                what's meron?
                                </a>
                            </h3>
                            <p class="mt-1 text-sm text-gray-500">balaraw &bull; eaaasy &bull; fuji &bull; vana &bull; future kids &bull; the byrons</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gig">
                <div class="gig-deets">
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-citrine">
                            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                        </svg>
                        <p> april 29, 7PM </p>
                    </div>

                    <div class="location">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-paprika">
                            <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                          </svg>
                          <p>takeover lounge</p>
                    </div>
                </div>
                <div class="group relative">
                    <div class="aspect-[3/4] w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <img src="{% static 'posters/unique-gig.jpg' %}" class="h-full w-full object-cover object-center lg:h-full lg:w-full group-hover:scale-125 duration-500 transition-all">
                    </div>
                    <div class="my-4 flex flex-col justify-between">
                
                        <div>
                            <h3 class="event-title">
                                <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                live & local: unique salonga
                                </a>
                            </h3>
                            <p class="mt-1 text-sm text-gray-500">unique &bull; party pace &bull; bita and the botflies &bull; komiko &bull; clubhouse &bull; ndf</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gig">
                <div class="gig-deets">
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-citrine">
                            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                        </svg>
                        <p> april 29, 8PM </p>
                    </div>

                    <div class="location">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1 fill-paprika">
                            <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                          </svg>
                          <p>saguijo</p>
                    </div>
                </div>
                <div class="group relative">
                    <div class="aspect-[3/4] w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <img src="{% static 'posters/saguijo-msex-apr-29.jpg' %}" class="h-full w-full object-cover object-center lg:h-full lg:w-full group-hover:scale-125 duration-500 transition-all">
                    </div>
                    <div class="my-4 flex flex-col justify-between">
                
                        <div>
                            <h3 class="event-title">
                                <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                think things through vol. 10
                                </a>
                            </h3>
                            <p class="mt-1 text-sm text-gray-500">severo &bull; milesexperience &bull; sugarcane &bull; nobrvnd &bull; novaliches &bull; vanessa mendoza</p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
{% endblock %}
