{% load static %}

<header class="relative">
    <div class="px-12 py-6 sm:px-6 lg:px-12">
        <div class="flex items-center justify-between">
            <div class="flex flex-col">
                
                <div class="flex-shrink-0">
                    <a href="#" title="" class="flex flex-row items-center gap-2">
                        <img class="h-auto" src="{% static 'images/guitar.png' %}" alt="logo" width="50">
                        <h1 class="text-6xl font-bold font-heading leading-tight text-[#FFBC42]">Tara, Gig!</h1>
                    </a>
                </div>
                <h4 class="text-white font-heading font-normal text-xl ml-[65px] normal-case">A PH gig directory</h4>
            </div>
        </div>
    </div>
</header>   