{% load static %}

<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
        {% comment %} <h1 class="px-6 text-lg text-white">find your next live music experience, right here</h1> {% endcomment %}
        <div class="mt-5 text-2xl leading-tight lg:leading-tight text-white  lg:text-4xl font-light">
            find your next<br>
            <div class="relative group inline-flex sm:inline my-1 hover:px-2">
                <span class="bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] blur-xl filter opacity-30 w-full h-full absolute inset-0 group-hover:opacity-50 duration-600 transition-all"></span>
                <span class="relative font-medium text-4xl lg:text-6xl">live music experience</span>
            </div>
            <p class="relative text-lg leading-loose font-light mt-2">without digging through social media.</p>
        </div>
    </div>
</div>