{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The Philippines' first gig directory">
    <meta name="keywords" content="tara gig, gigs ph, gigs">
    <meta name="author" content="Mikayla Lopez">

    <!-- stylesheets -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;800&display=swap" rel="stylesheet">

    <title>tara gig! | {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="relative">
        {% include 'layouts/header.html' %}
        
        <section class="relative py-8 lg:pb-40">
            {% block content %} {% endblock %}
        </section>
    </div>
    
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'header.js' %}"></script>
</body>

</html>